/*
Colour Pallete:
#e46fb3
*/

* {
  padding: 0px;
  margin: 0px;
}

header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  user-select: none;
  background-color: #512940b0;
  display: flex;
  flex-direction: row;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Koulen", cursive;
  background-color: #000000;
}

body#index {
  background-color: #000000;
}

h1 {
  font-family: "Antic Slab", serif;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
}

main {
  padding: 0;
  margin: 0;
}

.title {
  font-family: "Antic Slab", serif;
  text-align: center;
  color: #e46fb3;
  height: 10%;
  padding-right: 86px;
}

#title1 {
  font-size: 200%;
  font-weight: lighter;
  padding-bottom: 0px;
  padding-top: 20px;
}
#title2 {
  font-size: 400%;
  padding-top: 0px;
  padding-bottom: 20px;
  /* color: #a10000; */
}
#title3 {
  font-family: "Antic Slab", serif;
  padding: 20px;
  margin: 0px;
}

.center {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  justify-content: center;
  width: 100%;
}

#menuCanvas {
  background-color: #e46fb3;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #75757538;
}

#gitlink {
  text-align: center;
  filter: invert(1);
  /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
}

.btn {
  display: inline-block;
  position: relative;
  margin: 5px;
  padding: 2px;
  border-radius: 2px;
  text-decoration: none;
  outline-style: solid;
  outline-width: 2px;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}
.btn:active {
  transform: scale(0.9);
}

.btn.nav {
  margin: 10px 0 0 10px;
  padding: 0 5px 0 5px;
  background-color: #e46fb338;
  color: #e46fb3;
  outline-style: none;
}

.btn.footer {
  outline-style: none;
}
.btn.footer:hover {
  background-color: #75757538;
}

.btn.del {
  background-color: #f86c6c;
  color: white;
  /* display: block; */
}
.btn.del:hover {
  background-color: #eeeeee;
}

input {
  border-radius: 5px;
  padding: 2px;
}
